<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add a New bird</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Your custom CSS file -->
    </head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Bird App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bird_classes') }}">Bird Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('new_bird') }}">Add Bird</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('debug_route') }}">Debug Route</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1>Add a New Bird</h1>
    <form method="POST">
        <label for="classNumber">Class Number:</label>
        <input type="number" id="classNumber" name="classNumber" required><br>

        <label for="species">Species Name:</label>
        <input type="text" id="species" name="species" required><br>

        <label for="speciesCode">Species Code:</label>
        <input type="text" id="speciesCode" name="speciesCode" required><br>

        <label for="speciesUrl">Species URL:</label>
        <input type="url" id="speciesUrl" name="speciesUrl" required><br>

        <label for="speciesPhoto">Species Photo URL:</label>
        <input type="url" id="speciesPhoto" name="speciesPhoto" required><br>

        <label for="loc">location:</label>
        <input type="text" id="loc" name="loc" required><br>

        <input type="submit" value="Submit">
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
